/RubiePharm/DEFAULT.DFR
/RubiePharm/RubiePharm_TE5000.wibu.ini
/RubiePharm/RubiePharm_TE5000.SDB
/RubiePharm/RubiePharm_TE5000.SYM
/RubiePharm/RubiePharm_TE500000009676r.ECI
/RubiePharm/RubiePharm_TE500000009676r.ci
/RubiePharm/RubiePharm_TE500000009676r.ri
